<form [formGroup]="postForm">
  <h2 mat-dialog-title>{{ data ? "Edit Post" : "Add Post" }}</h2>

  <!-- Title Field -->
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" required />
    @if (title?.hasError('required')) {
    <mat-error>Title is required</mat-error>
    }
  </mat-form-field>

  <!-- Author Name Field -->
  <mat-form-field appearance="fill">
    <mat-label>Author Name</mat-label>
    <input matInput formControlName="authorName" required />
    @if (authorName?.hasError('required')) {
    <mat-error>Author name is required</mat-error>
    }
  </mat-form-field>

  <!-- Author Email Field -->
  <mat-form-field appearance="fill">
    <mat-label>Author Email</mat-label>
    <input matInput formControlName="authorEmail" type="email" required />
    @if (authorEmail?.hasError('email') || authorEmail?.hasError('required')) {
    <mat-error>Invalid email</mat-error>
    }
  </mat-form-field>

  <!-- Body Field -->
  <mat-form-field appearance="fill">
    <mat-label>Body</mat-label>
    <textarea matInput formControlName="body" required></textarea>
    @if (body?.hasError('required')) {
    <mat-error>Body is required</mat-error>
    }
  </mat-form-field>

  <!-- Actions Section -->
  <div mat-dialog-actions>
    <button mat-stroked-button (click)="onCancel()">Cancel</button>
    <button
      mat-raised-button
      color="primary"
      (click)="onSubmit()"
      [disabled]="postForm.invalid"
    >
      Save
    </button>
  </div>
</form>
