@for (comment of comments(); track $index) {
<div class="comment">
  <div>Comment {{ $index + 1 }}:</div>
  <div>Name: {{ comment.name }}</div>
  <div>Email: {{ comment.body }}</div>
  <div>Email: {{ comment.email }}</div>
  <div>Post Id: {{ comment.postId }}</div>
  <!-- <button mat-mini-fab color="primary" (click)="onUpdateComment(comment.id)">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-mini-fab color="warn" (click)="onRemoveComment(comment.id)">
    <mat-icon>delete</mat-icon>
  </button> -->
</div>
}
