<form [formGroup]="commentForm">
  <h2 mat-dialog-title>{{ data.comment ? "Edit Comment" : "Add Comment" }}</h2>

  <!-- Name Field -->
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" required />
    @if(name?.hasError('required')){
    <mat-error>Name is required</mat-error>
    }
  </mat-form-field>

  <!-- Email Field -->
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" type="email" required />
    @if(email?.hasError('email') || email?.hasError('required')){
    <mat-error>Invalid email</mat-error>
    }
  </mat-form-field>

  <!-- Comment Field -->
  <mat-form-field appearance="fill">
    <mat-label>Comment</mat-label>
    <textarea matInput formControlName="body" required></textarea>
    @if(body?.hasError('required')){
    <mat-error>Comment is required</mat-error>
    }
  </mat-form-field>

  <!-- Actions Section -->
  <div mat-dialog-actions>
    <button mat-stroked-button (click)="onCancel()">Cancel</button>
    <button
      mat-raised-button
      color="primary"
      (click)="onSubmit()"
      [disabled]="commentForm.invalid"
    >
      Save
    </button>
  </div>
</form>
