$primary-color: #3f51b5;
$gap-small: 8px;
$gap-medium: 16px;
$padding-large: 24px;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  gap: $gap-medium;
  padding: $padding-large;

  mat-dialog-title {
    font-size: 1.5em;
    color: $primary-color;
  }

  mat-form-field {
    width: 100%;

    mat-label {
      font-weight: bold;
      color: $primary-color;
    }
  }

  div[mat-dialog-actions] {
    display: flex;
    justify-content: flex-end;
    gap: $gap-small;
  }
}
