html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;

  mat-dialog-title {
    font-size: 1.5em;
    color: #3f51b5;
  }

  mat-form-field {
    width: 100%;

    mat-label {
      font-weight: bold;
      color: #3f51b5;
    }
  }

  div[mat-dialog-actions] {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
}
